#gridContainer {
    display: grid;
    height: 720px;
    width: 720px;
    background-color: rgb(0, 182, 48);
    
}

.gridCell {
    background-color: rgb(150, 0, 214);
}

#resetBar {
    display: flex;
    width: 720px;
    height: 40px;
}

#resetContainer {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

#reset {
    width: 100px;
    height: 20px;
    font-weight: bolder;
}

#sliderContainer {
    display: flex;
    align-items: center;
    flex-grow: 3;
}

#sliderLabel {
    display: flex;
    flex-wrap: nowrap;
    white-space: normal;
    align-items: center;
}

#sliderLabel > p {
    text-overflow: clip;
    white-space: nowrap;
}

#sliderValue {
    display: flex;
    flex-shrink: 1;
    height: 20px;
    width: 30px;
}

#sizeSlider {
    /*-webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 8px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }